body
{
	padding:0;
	margin:0;
	background-color:#f6f6f6;
}

#wrapper
{
	width:1000px;
	margin:10px auto;
	background-color:#FAFFFF;
	padding:20px;
	border:10px solid #ccc;
}

.field
{
	heigth:28px;
	padding:3px;
	outline:none;
	transition:0.2s linear;
	border:1px solid #ccc;
}

.field:focus
{
	box-shadow:0px 0px 3px 1px #000;
}

textarea:focus
{
	box-shadow:0px 0px 3px 1px #000;
}

#submitbtn
{
	width:428px;
	height:30px;
}

#form
{
	width:750px;
	margin:0px auto;
	
}

.cadre
{
	border:3px solid #ccc;
}

.errors{
	padding-left:15px;
	position:absolute;
}

textarea,input
{
	margin-left:100px;
	width:600px;
	transition:0.2s linear;
}
label
{
	margin-left:20px;
	margin-top:10px;
	font-family:'Source sans Pro',Calibri,Tahoma,sans-serif;
	color:#20B2AA;
}
button
{
	width:744px;
	background-color: #2fc1b9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #1fb1a9;
}
legend
{
	margin-left:10px;
	font-size:35px;
	color:#2fB2AA;
}
a
 {
  -webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #000;
}
h1
{
	font-family: "Times New Roman", Georgia, Serif;
	font-size:55px;
	margin-top:10px;
	text-align:center;
}
.button 
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
	margin-left:170px;
	margin-top:40px;
}
#file
{
	margin-left:0px;
	width:744;
	height:24px;
	background-color: #2fc1b9;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
}

.gender
{
	margin-left:0px;
	width:30px;
}